Source: ros-ardent-rmw-opensplice-cpp
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), libopensplice67, ros-ardent-ament-cmake, ros-ardent-ament-lint-auto, ros-ardent-ament-lint-common, ros-ardent-opensplice-cmake-module, ros-ardent-rcutils, ros-ardent-rmw, ros-ardent-rosidl-cmake, ros-ardent-rosidl-generator-c, ros-ardent-rosidl-generator-cpp, ros-ardent-rosidl-generator-dds-idl, ros-ardent-rosidl-typesupport-opensplice-c, ros-ardent-rosidl-typesupport-opensplice-cpp, ros-ardent-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-ardent-rmw-opensplice-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-ardent-ros-workspace
Description: Implement the ROS middleware interface using PrismTech OpenSplice static code generation in C++.
